// File: movie.less


// -------------------------
// Movie
// -------------------------



.movie {
  overflow: hidden;
  position: relative;
}

.movie__title {
  color: #fff;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}



.scene {
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  //visibility: hidden;
}



